<div class="wrapper">
  <ul class="nav-footer">
    <li>
      <a href="https://help.linkedin.com/app/home/loc/ft/trk/connect_hub/" target="_blank" rel="nofollow" class="cust-svc-link">Help Center</a>
    </li>
    <li id="li-about">
      <a id="li-about-trigger" href="/about-us?trk=hb_ft_about">About</a>
      <ul id="li-about-options">
        <li><a href="/redir/redirect?url=http%3A%2F%2Fpress%2Elinkedin%2Ecom%2F&amp;urlhash=UMoC" target="_blank">Press</a></li>
        <li><a href="/redir/redirect?url=http%3A%2F%2Fblog%2Elinkedin%2Ecom%2F&amp;urlhash=ULil" target="_blank">Blog</a></li>
        <li><a href="/redir/redirect?url=http%3A%2F%2Fdeveloper%2Elinkedin%2Ecom&amp;urlhash=EFv_" target="_blank">Developers</a></li>
      </ul>
    </li>
    <li><a href="/company/linkedin/careers?trk=hb_ft_work">Careers</a></li>
    <li><a href="/advertising?src=en-all-el-li-hb_ft_ads&amp;trk=hb_ft_ads">Advertising</a></li>
    <li><a href="/redir/redirect?url=http%3A%2F%2Fbusiness%2Elinkedin%2Ecom%2Ftalent-solutions%3Fsrc%3Dli-footer%26trk%3Dhb_ft_talent&amp;urlhash=_Y5C" target="_blank">Talent Solutions</a></li>
    <li>
      <a href="/redir/redirect?url=http%3A%2F%2Fbusiness%2Elinkedin%2Ecom%2Fsales-solutions%3Fsrc%3Dli-footer%26utm_source%3Dfooter%26utm_medium%3Dlinkedin%26utm_campaign%3Dlinkedin-footer%26trk%3Dlss_linkedin_footer_link2micro&amp;urlhash=yg9r" target="_blank">Sales Solutions</a>
    </li>
    <li><a href="/redir/redirect?url=http%3A%2F%2Fsmallbusiness%2Elinkedin%2Ecom%2F%3Ftrk%3Dlnkd_footer%26utm_source%3Dlinkedin%26utm_medium%3Dfooter%26utm_content%3D%26utm_campaign%3Dlifooter&amp;urlhash=zrGO" target="_blank">Small Business</a></li>
    <li><a href="/mobile?trk=hb_ft_mobile" target="_blank">Mobile</a></li>
    <li id="nav-utility-lang" class="">
      <a href="/secure/settings?trk=hb_ft_lang">Language</a>
      <form name="languageSelectorForm" action="/languageSelector" method="POST" accept-charset="UTF-8" novalidate="novalidate">
      <ul id="lang-list">
        <li class="in"><a href="/secure/settings?trk=hb_ft_lang" lang="in_ID"><span>Bahasa Indonesia</span></a></li>
        <li class="ms"><a href="/secure/settings?trk=hb_ft_lang" lang="ms_MY"><span>Bahasa Malaysia</span></a></li>
        <li class="cs"><a href="/secure/settings?trk=hb_ft_lang" lang="cs_CZ"><span>Čeština</span></a></li>
        <li class="da"><a href="/secure/settings?trk=hb_ft_lang" lang="da_DK"><span>Dansk</span></a></li>
        <li class="de"><a href="/secure/settings?trk=hb_ft_lang" lang="de_DE"><span>Deutsch</span></a></li>
        <li class="selected en"><a href="/secure/settings?trk=hb_ft_lang" lang="en_US"><strong>English</strong></a></li>
        <li class="es"><a href="/secure/settings?trk=hb_ft_lang" lang="es_ES"><span>Español</span></a></li>
        <li class="zh"><a href="/secure/settings?trk=hb_ft_lang" lang="zh_TW"><span>正體中文</span></a></li>
        <li class="fr"><a href="/secure/settings?trk=hb_ft_lang" lang="fr_FR"><span>Français</span></a></li>
        <li class="ko"><a href="/secure/settings?trk=hb_ft_lang" lang="ko_KR"><span>한국어</span></a></li>
        <li class="it"><a href="/secure/settings?trk=hb_ft_lang" lang="it_IT"><span>Italiano</span></a></li>
        <li class="zh"><a href="/secure/settings?trk=hb_ft_lang" lang="zh_CN"><span>简体中文</span></a></li>
        <li class="nl"><a href="/secure/settings?trk=hb_ft_lang" lang="nl_NL"><span>Nederlands</span></a></li>
        <li class="ja"><a href="/secure/settings?trk=hb_ft_lang" lang="ja_JP"><span>日本語</span></a></li>
        <li class="no"><a href="/secure/settings?trk=hb_ft_lang" lang="no_NO"><span>Norsk</span></a></li>
        <li class="pl"><a href="/secure/settings?trk=hb_ft_lang" lang="pl_PL"><span>Polski</span></a></li>
        <li class="pt"><a href="/secure/settings?trk=hb_ft_lang" lang="pt_BR"><span>Português</span></a></li>
        <li class="ro"><a href="/secure/settings?trk=hb_ft_lang" lang="ro_RO"><span>Română</span></a></li>
        <li class="ru"><a href="/secure/settings?trk=hb_ft_lang" lang="ru_RU"><span>Русский</span></a></li>
        <li class="sv"><a href="/secure/settings?trk=hb_ft_lang" lang="sv_SE"><span>Svenska</span></a></li>
        <li class="tl"><a href="/secure/settings?trk=hb_ft_lang" lang="tl_PH"><span>Tagalog</span></a></li>
        <li class="th"><a href="/secure/settings?trk=hb_ft_lang" lang="th_TH"><span>ภาษาไทย</span></a></li>
        <li class="tr"><a href="/secure/settings?trk=hb_ft_lang" lang="tr_TR"><span>Türkçe</span></a></li>
        <li class="ar"><a href="/secure/settings?trk=hb_ft_lang" lang="ar_AE"><span>العربية</span></a></li>
      </ul>
      <input type="hidden" name="i18nLang" value="">
      <input type="hidden" name="currenturl" value="https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fpeople%2Fpymk%2Fhub%3Fref%3Dglobal-nav%26trk%3Dnav_utilities_pymk_header%26urlhash%3DvZZF">
      </form>
    </li>
    <li class="last">
      <a class="footer-upgrade-link" href="/mnyfe/subscriptionv2?displayProducts=&amp;trk=hb_ft_upyracct"> Upgrade Your Account</a>
    </li>
  </ul>
  <p id="copyright" class=""><span>LinkedIn Corporation</span> <em>© 2015</em></p>
  <ul id="nav-legal">
    <li><a href="/legal/user-agreement?trk=hb_ft_userag">User Agreement</a></li>
    <li><a href="/legal/privacy-policy?trk=hb_ft_priv">Privacy Policy</a></li>
    <li><a href="/settings/?modal=nsettings-enhanced-advertising&amp;trk=hb_ft_ads">Ad Choices</a></li>
    <li>
      <a href="https://help.linkedin.com/app/answers/detail/a_id/34593/loc/na/trk/connect_hub/" target="_blank" rel="nofollow">Community Guidelines</a>
    </li>
    <li><a href="/legal/cookie-policy?trk=hb_ft_cookie">Cookie Policy</a></li>
    <li><a href="/legal/copyright-policy?trk=hb_ft_copy">Copyright Policy</a></li>
    <li class="last" id="feedback-request">
      <a href="https://help.linkedin.com/app/home/loc/ft/trk/connect_hub/" target="_blank" rel="nofollow">Send Feedback</a>
    </li>
  </ul>
</div>
