<div id="top-header">
  <div class="wrapper">
    <div class="header-section first-child">
      <h2 class="logo-container" tabindex="0">
        <a href="https://www.linkedin.com/?trk=nav_logo" class="logo" id="in-logo">
        LinkedIn
        </a>
      </h2>
      <form id="global-search" role="search" action="/vsearch/f" method="get" accept-charset="UTF-8" name="commonSearch" class="global-search voltron voltron-vertical-selector" data-li-lix-tests="{
      &quot;networkHeadline&quot;:              &quot;people&quot;,
      &quot;taSuggestionRecolor&quot;:          &quot;blue&quot;,
      &quot;actionsEnabled&quot;:               false,
      &quot;taGlyphIcons&quot;:                 false,
      &quot;typeaheadDebounceTime&quot;:        &quot;n1&quot;,
      &quot;taSearchHistoryLS&quot;:            false
      }">
      <fieldset>
        <legend>Find People, Jobs, Companies, and More</legend>
        <div class="search-scope global-nav-styled-dropdown" id="control_gen_2">
          <label for="main-search-category">Search for:</label>
          <span class="label"><span class="styled-dropdown-select-all">All</span></span><select name="type" id="main-search-category" class="search-category">
            <option class="all" data-li-advanced-link="/vsearch/f?adv=true&amp;trk=federated_advs" data-li-styled-dropdown-class="all" data-li-search-action="/vsearch/f" data-li-ghost-text="Search for people, jobs, companies, and more..." data-li-trk-code="vsrp_all_vertical_selector_item" title="Search for people, jobs, companies, and more..." value="all">All</option>
            <option class="people" data-li-advanced-link="/vsearch/p?adv=true&amp;trk=advsrch" data-li-styled-dropdown-class="people" data-li-search-action="/vsearch/p" data-li-ghost-text="Search people..." data-li-trk-code="vsrp_people_vertical_selector_item" title="Keyword, name, company or title" value="people">People</option>
            <option class="jobs" data-li-advanced-link="/vsearch/j?adv=true&amp;trk=hb_advjs" data-li-styled-dropdown-class="jobs" data-li-search-action="/vsearch/j" data-li-ghost-text="Search jobs..." data-li-trk-code="vsrp_jobs_vertical_selector_item" title="Keyword, company or job title" value="jobs">Jobs</option>
            <option class="companies" data-li-styled-dropdown-class="companies" data-li-search-action="/vsearch/c" data-li-ghost-text="Search companies..." title="Keyword" data-li-trk-code="vsrp_companies_vertical_selector_item" value="companies">Companies</option>
            <option class="groups" data-li-styled-dropdown-class="groups" data-li-search-action="/vsearch/g" data-li-ghost-text="Search groups..." data-li-trk-code="vsrp_groups_vertical_selector_item" title="Keyword" value="groups">Groups</option>
            <option class="edu" data-li-styled-dropdown-class="edu" data-li-search-action="/vsearch/e" data-li-ghost-text="Search universities..." data-li-trk-code="vsrp_edu_vertical_selector_item" title="Keyword" value="edu">Universities</option>
            <option class="content" data-li-styled-dropdown-class="content" data-li-search-action="/vsearch/ic" data-li-ghost-text="Search posts..." data-li-trk-code="vsrp_content_vertical_selector_item" title="Keyword" value="content">Posts</option>
            <option class="inbox" data-li-styled-dropdown-class="inbox" data-li-search-action="/inbox/search/route" data-li-ghost-text="Search inbox..." data-li-trk-code="vsrp_inbox_vertical_selector_item" title="Keyword" value="inbox">Inbox</option>
          </select>
          <ul class="search-selector"></ul></div>
          <div class="search-box-container" id="search-box-container">
            <span id="search-autocomplete-container" title="Tip: You can also search by keyword, company, school..." class="/typeahead">
            <label id="main-search-box-label" for="main-search-box" class="ghost" aria-live="polite">Search for people, jobs, companies, and more...</label>
            <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;"><input name="keywords" id="main-search-box" class="search-term typeahead-instant tt-input" type="text" value="" autocomplete="off" dir="ltr" placeholder="Search for people, jobs, companies, and more..." role="combobox" aria-owns="tt-dataset-GLHD" aria-labelledby="main-search-box-label" aria-live="polite" aria-autocomplete="list" spellcheck="false" style="position: relative; vertical-align: top;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu clipped transparent colorful-suggestions blue-variant" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div class="tt-dataset-GLHD"></div></span></span>
            <span id="typeahead-loader"></span>
            <button id="clear-main-search" type="button">
              <span class="description">Clear</span>
            </button>
            <span id="search-typeahead-container"></span>
            </span>
            <input name="orig" type="hidden" value="GLHD">
            <input name="rsid" type="hidden">
            <input name="pageKey" type="hidden" value="connect_hub">
            <input name="trkInfo" id="main-search-trkInfo" type="hidden" value="">
          </div>
          <button name="search" value="Search" class="search-button" type="submit">
            <span>Search</span>
          </button>
      </fieldset>
      <div class="advanced-search-outer">
        <div class="advanced-search-inner">
          <a href="/vsearch/f?adv=true&amp;trk=federated_advs" class="advanced-search" id="advanced-search">Advanced
          </a>
        </div>
      </div>
      </form>

    </div>
    <div class="header-section last-child">
      <ul class="nav utilities" role="navigation">
        <li class="nav-item activity-tab" data-li-activity-type="messages" data-li-new-count="0">
          <a href="/inbox/#messages?trk=nav_utilities_inbox" class="activity-toggle inbox-alert">
          <span class="caption">Inbox. You have 21 new messages</span>
          </a>
          <span id="header-messages-count" class="gem " aria-hidden="true">21</span>
          <div class="activity-container" id="inbox">
            <div class="activity-drop activity-drop-loading">
              <div class="activity-drop-body"></div>
            </div>
          </div>
        </li>
        <li class="nav-item activity-tab" data-li-new-count="0" data-li-action-type-click="ntf_click_notifications_icon" data-li-action-type-pagination="ntf_scroll" data-li-activity-type="notifications">
          <a href="#notifications" class="activity-toggle notifications-alert no-link" role="button">
            <span class="caption">Notifications. You have 0 unseen notifications</span>
          </a>
          <div class="activity-container" id="notifications">
            <div class="activity-drop activity-drop-loading">
              <div class="activity-drop-body"></div>
            </div>
          </div>
        </li>
        <li class="nav-item activity-tab" data-li-activity-type="addconnections">
          <a id="dropdowntest" href="/fetch/importAndInviteEntry?trk=nav_utilities_add_connx" class="activity-toggle add-connections-btn">
          <span class="caption">Add Connections</span>
          </a>
          <div class="activity-container" id="addconnections">
            <div class="activity-drop activity-drop-loading">
              <div class="activity-drop-body">
                <div class="activity-drop-header">
                  <h3><a href="/fetch/importAndInviteEntry?trk=nav_utilities_add_connx_header">Add Connections <span class="sub-nav-header-arrow" aria-hidden="true"></span></a></h3>
                </div>
                <div id="add-connection-container"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item account-settings-tab">
          <a href="https://www.linkedin.com/profile/view?id=2265257&amp;trk=nav_responsive_tab_profile_pic" class="account-toggle">
          <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/4/000/151/231/0e6121c.png" data-li-src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/4/000/151/231/0e6121c.png" id="img-defer-id-1-58306" class="img-defer nav-profile-photo" alt="Edward Faulkner" height="20" width="20">
          </a>
          <div class="account-sub-nav" id="account-sub-nav">
            <div class="account-sub-nav-options">
              <div class="account-sub-nav-header">
                <h3>Account &amp; Settings<span class="sub-nav-header-arrow"></span></h3>
              </div>
              <div class="account-sub-nav-body">
                <ul class="account-settings">
                  <li class="self">
                    <div class="account-settings-link">
                      <span class="act-set-row">
                        <span class="act-set-icon">
                          <a href="https://www.linkedin.com/profile/view?id=2265257&amp;trk=nav_responsive_tab_profile_pic">
                          <span class="act-set-icon-image">
                            <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/4/000/151/231/0e6121c.png" data-li-src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/4/000/151/231/0e6121c.png" id="img-defer-id-2-58306" class="img-defer nav-profile-photo" alt="Edward Faulkner" height="20" width="20">
                          </span>
                          </a>
                        </span>
                        <span class="act-set-name">
                          <a href="https://www.linkedin.com/profile/view?id=2265257&amp;trk=nav_responsive_tab_profile_pic" class="act-set-name-split-link">
                          Edward Faulkner </a>
                        </span>
                        <span class="act-set-action">
                          <a href="https://www.linkedin.com/uas/logout?session_full_logout=&amp;csrfToken=ajax%3A2919893669092078979&amp;trk=nav_account_sub_nav_signout" class="account-submenu-split-link">
                          Sign Out
                          </a>
                        </span>
                      </span>
                    </div>
                  </li>
                  <li class="account-type">
                    <a href="/mnyfe/subscriptionv2?displayProducts=&amp;trk=nav_account_sub_nav_upgrade" class="account-settings-link" target="_self">
                    <span class="act-set-row">
                      <span class="act-set-icon"><span class="act-set-icon-image"></span></span>
                      <span class="act-set-name">
                        Account: Basic
                      </span>
                      <span class="act-set-action">
                        Try Premium
                      </span>
                    </span>
                    </a>
                  </li>
                  <li class="job-posting">
                    <a href="/job/consumer/manageConsumer?trk=nav_account_sub_nav_job_manage" class="account-settings-link">
                    <span class="act-set-row">
                      <span class="act-set-icon"><span class="act-set-icon-image"></span></span>
                      <span class="act-set-name">
                        Job Posting
                      </span>
                      <span class="act-set-action">
                        Manage
                      </span>
                    </span>
                    </a>
                  </li>
                  <li class="language-settings">
                    <a href="/settings/?tab=account&amp;modal=nsettings-select-language&amp;trk=nav_account_sub_nav_language" class="account-settings-link">
                    <span class="act-set-row">
                      <span class="act-set-icon"><span class="act-set-icon-image"></span></span>
                      <span class="act-set-name">
                        Language
                      </span>
                      <span class="act-set-action">
                        Change
                      </span>
                    </span>
                    </a>
                  </li>
                  <li class="privacy-settings">
                    <a href="/settings/?trk=nav_account_sub_nav_settings" class="account-settings-link">
                    <span class="act-set-row">
                      <span class="act-set-icon"><span class="act-set-icon-image"></span></span>
                      <span class="act-set-name">
                        Privacy &amp; Settings
                      </span>
                      <span class="act-set-action">
                        Manage
                      </span>
                    </span>
                    </a>
                  </li>
                  <li class="help-center">
                    <span class="qh-icon"></span>
                    <span class="account-settings-link">
                      <a href="https://help.linkedin.com/app/home/loc/hd/trk/connect_hub/" target="_blank" rel="nofollow" class="act-set-name">Help Center</a>
                      <a href="https://help.linkedin.com/app/home/loc/hd/trk/connect_hub/" target="_blank" rel="nofollow" class="act-set-action">Get Help</a>
                      <ul class="qh-page-tours"></ul>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
<div class="responsive-nav" id="responsive-nav-scrollable">
  <div class="wrapper">
    <ul class="nav main-nav" role="navigation">
      <li class="nav-item">
        <a href="/home?trk=nav_responsive_tab_home" class="nav-link">
        Home
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.linkedin.com/profile/view?id=2265257&amp;trk=nav_responsive_tab_profile" class="nav-link">
        Profile
        </a>
        <ul class="sub-nav" id="profile-sub-nav">
          <li>
            <a href="/profile/edit?trk=nav_responsive_sub_nav_edit_profile">
            Edit Profile
            </a>
          </li>
          <li>
            <a href="/wvmx/profile?trk=nav_responsive_sub_nav_wvmp">
            Who's Viewed Your Profile
            </a>
          </li>
          <li>
            <a href="/pulse/activities/edward-faulkner+0_2kZQGIqyK_oq5o1dhSDqjn?trk=nav_responsive_sub_nav_yourupdates">
            Your Updates
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="/connections?type=combined&amp;trk=nav_responsive_tab_network" class="nav-link">
        Connections
        </a>
        <ul id="connections-sub-nav" class="sub-nav">
          <li>
            <a href="/connections?type=combined&amp;trk=nav_responsive_sub_nav_network">
            Keep in Touch
            </a>
          </li>
          <li>
            <a href="/fetch/importAndInviteEntry?trk=nav_responsive_sub_nav_add_connections">
            Add Connections
            </a>
          </li>
          <li>
            <a href="/edu/alumni?trk=nav_responsive_sub_nav_find_alumni">
            Find Alumni
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="/jobs?displayHome=&amp;trk=nav_responsive_sub_nav_jobs" class="nav-link">
        Jobs
        </a>
      </li>
      <li class="nav-item">
        <button id="nav-link-interests" class="nav-link no-link">
          Interests
        </button>
        <ul class="sub-nav" id="interests-sub-nav">
          <li>
            <a href="/company/home?trk=nav_responsive_sub_nav_companies">
            Companies
            </a>
          </li>
          <li>
            <a href="/myGroups?trk=nav_responsive_sub_nav_groups">
            Groups
            </a>
          </li>
          <li>
            <a href="/today/?trk=nav_responsive_sub_nav_pulse">
            Pulse
            </a>
          </li>
          <li>
            <a href="/edu/?trk=nav_responsive_sub_nav_edu">
            Education
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav premium-nav" role="navigation">
      <li class="nav-item">
        <button class="nav-link no-link">
          Business Services
        </button>
        <ul class="sub-nav" id="business-sub-nav">
          <li>
            <a href="/jobs/post?editAttributes=&amp;trk=nav_responsive_sub_nav_post_job">
            Post a Job
            </a>
          </li>
          <li>
            <a href="/mnyfe/subscriptionv2?displayProducts=&amp;family=talent&amp;trk=li-nav" target="_blank">Talent Solutions</a>
          </li><li>
          </li><li>
            <a href="/ads/start?utm_source=li&amp;utm_medium=el&amp;utm_campaign=hb_tab_ads&amp;src=en-all-el-li-hb_tab_ads&amp;trk=nav_responsive_sub_nav_advertise" target="_blank">
            Advertise
            </a>
          </li>
          <li>
            <a href="/redir/redirect?url=http%3A%2F%2Fsales%2Elinkedin%2Ecom%3Ftrk%3Dlss_global_nav_link2micro%26src%3Dli-nav&amp;urlhash=apdw" target="_blank">
            Sales Solutions
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="/mnyfe/subscriptionv2?displayProducts=&amp;trk=nav_responsive_sub_nav_upgrade" id="" class="nav-link" data-li-phref="" target="_self">
        Try Premium for free
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="a11y-content">
  <a name="a11y-content" tabindex="0" id="a11y-content-link">Main content starts below.</a>
</div>
<div id="global-alert-queue" class="wrapper"></div>
