<div class="wrapper hp-nus-wrapper">
  <div id="global-error">
  </div>
  <div id="main">
    <div class="insetAd container" data-card-uri="https://www.linkedin.com/people/pymk-connect-hub-landing?locale=en_US&amp;records=13&amp;offset=0&amp;decorate=true&amp;location=desktop-connect-hub-landing&amp;boostID=&amp;mid=" data-pending-uri="https://www.linkedin.com/people/connecthub/invitations?offset=1" data-results-per-page="13">
    <h1>People You May Know</h1>
    <a class="import-contacts" href="/fetch/importAndInviteEntry?trk=connect_hub_add_connections" title="Import contacts" data-username="Edward Faulkner">
    <span aria-hidden="true" class="glyph"></span>
    <span class="screen-reader-text">Import contacts</span>
    </a>
    <div id="pymk_cards_container" data-boostid="">
      <div class="card-container animation"><h3 class="screen-reader-text">People you may know</h3>
      <svg class="svg-blur-effect-def">
      <defs>
      <filter id="fe-gaussian-filter-blur">
      <feGaussianBlur stdDeviation="25" data-filterid="1">
      </feGaussianBlur>
      </filter>
      </defs>
      </svg>
      <ul class="people-cards-list" id="control_gen_3">
        {{yield}}
      </ul>
      <div class="loading-indicator">
        <span class="animated">Loading...</span>
      </div>
      <div id="incommon-wrapper" class="callout-container">
        <div class="callout-content">
          <div class="callout-body">{0}</div>
        </div>
      </div>
      <div id="pending-message-wrapper" class="callout-container">
        <div class="callout-content">
          <div class="callout-body">{0}</div>
        </div>
      </div>
      <div id="email-confirm-wrapper" class="callout-container">
        <div class="callout-content">
          <div class="callout-head email-confirm">
            <h3>Why do I need to enter an email address?</h3>
          </div>
          <div class="callout-body email-confirm">
            <p>There are 3 potential reasons:</p>
            <ul>
              <li>* The recipient’s settings only allow invitations from members who know their email address.</li>
              <li>* You’ve reached the limit of people you can mark as a "friend" in the invitation process before we start asking for their email address.</li>
              <li>* Too many people have clicked "I don’t know this person" after getting your invitations.</li>
            </ul>
          </div>
        </div>
      </div>
      </div>
      <div id="ad-unit" class="insetAd" style="top: auto; left: auto; display: none !important;">
      </div>
    </div>
    </div>
  </div>
</div>
